@import url("https://fonts.googleapis.com/css?family=Barlow|Raleway&display=swap");

:root {
  --lightBlue: #00aeff;
  --primaryBlue: #2396e2;
  --darkBlue: #0c3866;
  --primaryGreen: #19b84c;
  --darkGreen: #0e4f1f;
  --primaryOrange: #f47721;
  --lightOrange: #ff9933;
  --primaryYellow: #ffcb3cee;
  --fontColor: rgb(102, 102, 102);
  --fontColorDark: rgb(80, 80, 80);
  --bodyBack: #f6f1d7;
  --sable: #fcf4cff5;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --darkGrey: #080808;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;

  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}
body {
  margin: 0;
  padding: 0;
  background: var(--bodyBack);
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 1.7rem;
}

ul {
  list-style: none;
}

.home--subtitle {
  margin: 0;
  color: var(--fontColor);
  text-align: center;
  background: #fdfde1;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0.5px solid #0c386617;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.089);
}

article .home--text {
  width: 90%;
  text-align: justify;
}

.container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 76%;
  grid-gap: 1rem;
}

@media (max-width: 650px) {
  .grid-container {
    display: grid;
    grid-template-columns: 34% 64%;
    grid-gap: 1.1rem;
  }
}

.tl-edges {
  overflow: visible;
}

.grid-container aside {
  justify-self: center;
  position: sticky;
  top: 20%;
  height: 60vh;
}

.grid-container__presa {
  display: grid;
  grid-template-columns: 25% 75%;
  padding-top: 30px;
  grid-gap: 1rem;
}

.main-footer {
  padding: 32px;
  margin-top: 48px;
  background-color: var(--mainBlack);
  color: white;
}

.section-title {
  color: var(--primaryOrange);
  text-align: center;
}

.plan__list {
  width: 100%;
  margin: auto;
  text-align: center;
}

.plan h2 {
  background: var(--sable);
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan__list article {
  margin: 0;
}

.plan--highlighted__enterprises {
  background: #7cb3eb;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  height: 52rem;
}

.plan--highlighted__teambuilding {
  background: var(--primaryYellow);
  height: 52rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan--highlighted__outdoor {
  background: #9fe65c;
  height: 52rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: var(--sable);
  color: rgb(122, 122, 122);
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
}

.plan__title--light {
  color: var(--bodyBack);
}

.plan__title--dark {
  color: var(--mainBlack);
}

.plan--highlighted .plan__price {
  color: var(--darkGreen);
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 970px) {
  .plan__list {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan__list article {
    margin: 0.7rem;
  }

  .plan {
    width: 40%;
    min-width: 15rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .plan h1,
  .plan .plan--shadow {
    color: rgb(82, 82, 82);
    text-shadow: #ece4d5 -1px 0px, #ece4d5 0px 1px, #ece4d5 1px 0px,
      #ece4d5 0px -1px;
  }

  .plan h3 {
    color: rgb(70, 70, 70);
  }
  .plan li {
    color: rgb(82, 82, 82);
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 50rem;
    z-index: 50;
  }
}

#key-features {
  background: var(--lightBlue);
  margin-top: 5rem;
  padding: 1rem;
}

.key-feature p {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#key-feature h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 150px;
  height: 150px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 920px) {
  .key-feature__image {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 800px) {
  .key-feature {
    width: 20%;
    max-width: 20rem;
  }

  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
  /* grid-row: 3 / 4; */
  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
  width: 95%;
  border: 0.04rem solid white;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link:hover,
.main-footer__link:active {
  color: var(--mainBlack);
  background-color: white;
  cursor: pointer;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 300ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  text-align: justify;
}

.plan--highlighted__enterprises button {
  background: var(--darkBlue);
  border: 1.5px solid var(--darkBlue);
}

.plan--highlighted__teambuilding button {
  background: var(--primaryOrange);
  border: 1.5px solid var(--primaryOrange);
}

#ateliers article {
  padding-bottom: 30px;
}

.activities__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 650px) {
  .activities__image {
    display: none;
  }
  .grid-article {
    display: grid;
    grid-template-columns: auto;
  }
}

.activities__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-article p {
  text-align: justify;
}

.grid-article-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.grid-article-item {
  justify-content: center;
  align-items: center;
}

.devis__title h4 {
  margin-top: 1rem;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.button:hover,
.button:active {
  background-color: white;
  color: var(--darkBlue);
  text-decoration: none;
}

.button:focus {
  outline: none;
}
.button a {
  text-decoration: none;
  color: white;
}

.button button:hover,
.button a:hover {
  color: var(--darkBlue);
}

.page--list {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
@media (min-width: 40rem) {
  .main-footer__link {
    display: inline-block;
    margin: 0 1rem;
  }
}
