@import url("https://fonts.googleapis.com/css?family=Barlow|Raleway&display=swap");

:root {
  --lightBlue: #00aeff;
  --primaryBlue: #2396e2;
  --darkBlue: #0c3866;
  --primaryGreen: #19b84c;
  --darkGreen: #0e4f1f;
  --primaryOrange: #f47721;
  --lightOrange: #ff9933;
  --primaryYellow: #ffcb3cee;
  --fontColor: rgb(102, 102, 102);
  --bodyBack: #f6f1d7;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}
body {
  margin: 0;
  padding: 0;
  background: var(--bodyBack);
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 1.7rem;
}

ul {
  list-style: none;
}

.container {
  width: calc(100% - 40px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 2rem;
}

.tl-edges {
  overflow: visible;
}

.grid-container aside {
  justify-self: center;
  position: sticky;
  top: 20%;
  height: 60vh;
}

.grid-container__presa {
  display: grid;
  grid-template-columns: 25% 75%;
  padding-top: 30px;
  grid-gap: 1rem;
}

.main-footer {
  padding: 32px;
  margin-top: 48px;
  background-color: var(--mainBlack);
  color: white;
}

.section-title {
  color: var(--primaryOrange);
  text-align: center;
}

.plan__list {
  width: 100%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan__list article {
  margin: 0;
}

.plan--highlighted__enterprises {
  background: var(--primaryBlue);
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan--highlighted__teambuilding {
  background: var(--primaryYellow);
  color: var(--darkBlue);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan--highlighted__outdoor {
  background: var(--primaryGreen);
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #858585;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title--light {
  color: var(--bodyBack);
}

.plan__title--dark {
  color: var(--darkBlue);
}

.plan--highlighted .plan__price {
  color: var(--darkGreen);
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 970px) {
  .plan__list {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan__list article {
    margin: 0.7rem;
  }

  .plan {
    width: 30%;
    min-width: 10rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100rem; */
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 50rem;
    z-index: 50;
  }
}

#key-features {
  background: var(--lightBlue);
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 200px;
  height: 200px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .key-feature {
    width: 20%;
    max-width: 20rem;
  }

  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
  /* grid-row: 3 / 4; */
  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 300ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  text-align: justify;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.plan--highlighted__enterprises button {
  background: var(--darkBlue);
  border: 1.5px solid var(--darkBlue);
}

.plan--highlighted__teambuilding button {
  background: var(--primaryOrange);
  border: 1.5px solid var(--primaryOrange);
}

.button:hover,
.button:active {
  background: white;
  color: #222;
}

.button:focus {
  outline: none;
}

@media (min-width: 40rem) {
  .main-footer__link {
    display: inline-block;
    margin: 0 1rem;
  }
}
