.links-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-width: 9rem;
}

@media (max-width: 875px) {
  .links-list {
    min-width: 6rem;
  }
}

.links-list a {
  line-height: 1.1rem;
}

.active {
  background: #ffcb3cee;
  border-color: #0c3866;
  color: #0c3866;
}
