.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 0.5rem;
  overflow: hidden;
  background: white;
  color: var(--fontColor);
}

.card p {
  font-size: 1.1rem;
  padding-left: 10px;
  padding-right: 10px;
}

.card h2 {
  font-size: 1rem;
}

.card h3 {
  font-size: 1.3rem;
  text-align: center;
  color: #4e4342;
}

/* .card:hover {
  background: #ffcb3c;
  color: #0c3866;
} */
